#Surrender, #Remis, #TimeStartButton, #rotateButton{
  transition: all ease-in-out 0.1s;
}

#Surrender:hover, #Remis:hover, .MoveInHistory:hover, #rotateButton:hover{
  border:solid black 3px !important;
  border-radius:7px;
}
#TimeStartButton:hover{
display:block;
content:'';
width:auto;
height:auto;
border:solid black 3px !important;
border-radius:7px;
}